.card {
  width: 100%;
}

.card-content {
  text-align: center;
  padding: 16px;
}

mat-card {
  border-radius: 8px;
  overflow: hidden;
}

mat-card-header {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 8px 16px;
}

mat-card-title {
	display: flex;
	gap: 8px;
	align-items: center;
	font-weight: bold;
}

.default-content:not(:only-child) {
  display: none;
}