<div class="container">
  <div class="divider">
    <p><b>22</b> November - Wednesday</p>
  </div>
  <div class="green">
    <div class="content">
      <p class="title">Example event</p>
      <p class="date">3:15 PM</p>
      <p class="location">Conference room</p>
      <p class="description">
        Lorem ipsum dolor sit emet. This is just some example text so we can get
        an idea of how an event with a long description will look on the
        calendar.
      </p>
    </div>
    <div class="calendar-name">
      <caption>
        COS Events
      </caption>
    </div>
  </div>
  <div class="divider">
    <p><b>23</b> November - Thursday</p>
  </div>
  <div class="purple">
    <div class="content">
      <p class="title">Example event</p>
      <p class="date">3:15 PM</p>
      <p class="location">Conference room</p>
      <p class="description">Lorem.</p>
    </div>
    <div class="calendar-name">
      <caption>
        Building Use
      </caption>
    </div>
  </div>
  <div class="gold">
    <div class="content">
      <p class="title">Example event</p>
      <p class="date">3:15 PM</p>
      <p class="location">Conference room</p>
      <p class="description">Lorem ipsum dolor sit emet.</p>
    </div>
    <div class="calendar-name">
      <caption>
        Office
      </caption>
    </div>
  </div>
  <div class="divider">
    <p><b>26</b> November - Sunday</p>
  </div>
  <div class="green">
    <div class="content">
      <p class="title">Example event</p>
      <p class="date">3:15 PM</p>
      <p class="location">Conference room</p>
      <p class="description">Lorem ipsum dolor sit emet.</p>
    </div>
    <div class="calendar-name">
      <caption>
        COS Events
      </caption>
    </div>
  </div>
</div>
