p {
  margin: 0;
}

.container {
  height: 268px;
  display: flex;
  gap: 16px;
  text-align: left;
  margin-left: -16px;
  overflow: hidden;
}

.events-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 8px;
}

.event {
  border: solid 2px rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  overflow: hidden;
  padding: 4px 8px;
  width: 184px;
}

.green {
  background-color: #282;
}

.purple {
  background-color: #628;
}

.gold {
  background-color: #861;
}

.title {
  font-size: 18px;
  font-weight: 500;
  display: -webkit-box;
  line-clamp: 2;
  overflow: hidden;
  -webkit-box-orient: vertical;
}

.subtitle {
  font-size: 14px;
  margin-top: 4px;
}

.divider {
  height: 268px;
  width: 24px;
  padding-left: 16px;
  margin-right: -8px;
}

.divider p {
  position: relative;
  float: left;
  transform: rotate(-90deg);
  width: 268px;
  text-wrap: nowrap;
  align-self: flex-end;
  border-bottom: solid 1px rgba(255, 255, 255, 0.3);
  height: 24px;
  left: -126px;
  bottom: -120px;
}
