<ng-container>
  @if (days) {
    <div class="agenda-container">
      @for (day of days; track day) {
        <div class="divider">
          <p>
            <b>{{ day.date.toFormat("d") }}</b
              >{{ day.date.toFormat(" LLLL, cccc") }}
            </p>
          </div>
          <div class="events-container">
            @for (event of day.events; track event) {
              <div
                class="event"
                >
                <p class="title">{{ event.title }}</p>
                <p class="subtitle">{{ event.subtitle }}</p>
                @if (event.tags.length > 0) {
                  <span class="tags">
                    @for (tag of event.tags; track tag) {
                      <app-tag [tag]="tag" />
                    }
                  </span>
                }
              </div>
            }
          </div>
        }
      </div>
    }
    @if (!days) {
      <app-loading-spinner />
    }
  </ng-container>
