p {
  margin: 0;
}

.agenda-container {
  height: 268px;
  display: flex;
  gap: 16px;
  text-align: left;
  margin-left: -16px;
  overflow: hidden;
}

.events-container {
  display: inline-flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 24px;
  max-width: 280px;
  height: min-content;
  min-height: 100%;
}

.animated {
  position: relative;
  animation: scroll 20s linear infinite;
  animation-direction: alternate;
}

.event {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.title {
  font-size: 18px;
  font-weight: 500;
  display: -webkit-box;
  line-clamp: 2;
  overflow: hidden;
  -webkit-box-orient: vertical;
}

.subtitle {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.5)
}

.tags {
  display: flex;
  gap: 4px;
  min-height: 20px;
}

.divider {
  height: 268px;
  width: 24px;
  padding-left: 16px;
  margin-right: -8px;
}

.divider p {
  position: relative;
  float: left;
  transform: rotate(-90deg);
  width: 268px;
  text-wrap: nowrap;
  align-self: flex-end;
  border-bottom: solid 1px rgba(255, 255, 255, 0.3);
  height: 24px;
  left: -126px;
  bottom: -120px;
}

@keyframes scroll {
  0%,
  30% { transform: translateY(0%); top: 0%; }
  70%,
  100% { transform: translateY(-100%); top: 100%; }
}