<div id="page">
  <div id="center-content">
    <img id="logo" src="cos-logo-gradient.svg" alt="COS logo" />
    @if (secretExists) {
      <div id="progress-container">
        <mat-progress-bar id="progress-bar" mode="indeterminate" />
        <p>Fetching new data</p>
      </div>
    }
    @if (!secretExists) {
      <div id="secret-input-container">
        <mat-form-field class="full-width code">
          <mat-label>API Key</mat-label
            ><input
            [attr.disabled]="true"
            maxlength="64"
            [formControl]="secretFormControl"
            [errorStateMatcher]="matcher"
            matInput
            spellcheck="false"
            [(ngModel)]="secret"
            />
          @if (secretFormControl.errors) {
            <mat-error>
              {{ secretFormControl.errors["error"] }}
            </mat-error>
          }
        </mat-form-field>
        <button
          mat-flat-button
          (click)="onValidate()"
        disabled="{{
          secretFormControl.errors ||
            authenticationState === SecretAuthenticationState.InProgress
        }}"
          >
          Verify
        </button>
        @if (
          !secretFormControl.errors &&
          authenticationState !== SecretAuthenticationState.Standby
          ) {
          <div
            >
            @if (
              authenticationState === SecretAuthenticationState.InProgress) {
              <span
                class="status-container"
                >
                <mat-spinner [diameter]="24" />
                Verifying secret with Planning Center servers...
              </span>
            } @else {
              <span
            class="{{
              authenticationState === SecretAuthenticationState.Authenticated
                ? 'success'
                : 'error'
            }}-message status-container"
                >
                <mat-icon
              fontIcon="{{
                authenticationState === SecretAuthenticationState.Authenticated
                  ? 'check_circle'
                  : 'cancel'
              }}-filled"
                  />
                {{
                authenticationState === SecretAuthenticationState.Error
                ? "Unknown error"
                : authenticationState ===
                SecretAuthenticationState.Authenticated
                ? "API key accepted"
                : "API key rejected"
                }}</span
                >
              }
            </div>
          }
        </div>
      }
    </div>
  </div>
