<div class="container">
  <img
    class="image"
    src="{{ data.avatarUrl ?? 'https://placekitten.com/g/48/48' }}"
    alt="Avatar for {{ data.name }}"
    />
  <div class="text">
    <p class="name">{{ data.name }}</p>
    @if (data.caption) {
      <p
      class="{{
        data.subCaption ? 'caption' : 'solo-caption'
      }}"
        >
        {{ data.caption }}
      </p>
    }
    @if (data.subCaption) {
      <p
      class="{{
        data.caption ? 'caption' : 'solo-caption'
      }}"
        >
        {{ data.subCaption }}
      </p>
    }
  </div>
</div>
