<div class="container">
  <img
    class="image"
    src="{{ data.avatarUrl ?? 'https://placekitten.com/g/48/48' }}"
    alt="Avatar for {{ data.name }}"
  />
  <div class="text">
    <p class="name">{{ data.name }}</p>
    <p
      class="{{
        data.subCaption ? 'caption' : 'solo-caption'
      }}"
      *ngIf="data.caption"
    >
      {{ data.caption }}
    </p>
    <p
      class="{{
        data.caption ? 'caption' : 'solo-caption'
      }}"
      *ngIf="data.subCaption"
    >
      {{ data.subCaption }}
    </p>
  </div>
</div>
