.page {
  padding: 8px;
  height: 100%;
  display: grid;
  gap: 8px;
  grid-auto-rows: minmax(min-content, max-content);
  grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
  box-sizing: border-box;
}

.people-grid {
  display: grid;
  gap: 8px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.rsvp-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.full-width {
  grid-column: 1 / -1;
}

.legend {
  display: flex;
  gap: 16px;
  align-items: center;
}

.legend-item {
  display: flex;
  gap: 8px;
  align-items: center;
}

.legend-text {
  margin: 0;
  font-size: 12px;
  text-transform: uppercase;
}

.dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
}

.green {
  background-color: #5c5;
}

.purple {
  background-color: #a4f;
}

.gold {
  background-color: #fa6;
}

.red {
  background-color: #e44;
}

.pink {
  background-color: #e88;
}