<div class="page">
  <app-widget icon="person_add" title="New profiles">
    @if (newProfiles) {
      <div body class="people-grid">
        @for (profile of newProfiles; track profile) {
          <app-person-tile [data]="profile" />
        }
      </div>
    }
  </app-widget>
  <app-widget icon="schedule" title="Team breakdown">
    @if (rsvps) {
      <div body class="rsvp-list">
        @for (rsvp of rsvps; track rsvp) {
          <app-rsvp-item [data]="rsvp" />
        }
      </div>
    }
  </app-widget>
  <app-widget icon="looks_one" title="First time visitors">
    @if (firstTimeVisitors) {
      <div body class="people-grid">
        @for (visitor of firstTimeVisitors; track visitor) {
          <app-person-tile
            [data]="visitor"
            />
        }
      </div>
    }
  </app-widget>
  <app-widget icon="cake" title="Upcoming birthdays">
    @if (birthdays) {
      <div body class="people-grid">
        @for (birthday of birthdays; track birthday) {
          <app-person-tile [data]="birthday" />
        }
      </div>
    }
  </app-widget>
  <app-widget icon="payments" title="Newest donors">
    @if (newDonors) {
      <div body class="people-grid">
        @for (donor of newDonors; track donor) {
          <app-person-tile [data]="donor" />
        }
      </div>
    }
  </app-widget>
  <app-widget icon="bar_chart" title="Auditorium">
    <div header class="legend">
      <div class="legend-item">
        <div class="navy dot"></div>
        <p class="legend-text">Prev. year</p>
      </div>
      <div class="legend-item">
        <div class="blue dot"></div>
        <p class="legend-text">Current</p>
      </div>
    </div>
    <canvas
      body
      baseChart
      [data]="auditoriumData"
      [options]="chartOptions"
      type="bar"
      height="184px"
    ></canvas>
  </app-widget>
  <app-widget icon="bar_chart" title="Kids Check-in">
    <div header class="legend">
      <div class="legend-item">
        <div class="navy dot"></div>
        <p class="legend-text">Prev. year</p>
      </div>
      <div class="legend-item">
        <div class="blue dot"></div>
        <p class="legend-text">Current</p>
      </div>
    </div>
    <canvas
      body
      baseChart
      [data]="kidsCheckInData"
      [options]="chartOptions"
      type="bar"
      height="184px"
    ></canvas>
  </app-widget>
  <app-widget icon="bar_chart" title="Giving">
    <div header class="legend">
      <div class="legend-item">
        <div class="navy dot"></div>
        <p class="legend-text">Prev. year</p>
      </div>
      <div class="legend-item">
        <div class="blue dot"></div>
        <p class="legend-text">Current</p>
      </div>
    </div>
    <canvas
      body
      baseChart
      [data]="givingData"
      [options]="currencyChartOptions"
      type="bar"
      height="184px"
    ></canvas>
  </app-widget>
  <app-widget class="full-width" icon="calendar_month" title="Calendar">
    @if (agenda) {
      <app-agenda body [days]="agenda" />
    }
  </app-widget>
</div>
