.grid-container {
  padding: 8px;
  height: 100%;
  display: grid;
  gap: 8px;
  grid-template-rows: repeat(3, 30%);
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  
  box-sizing: border-box;
}

mat-card {
  overflow: hidden;
}