<h2 mat-dialog-title>Secret Required</h2>
<mat-dialog-content class="mat-typography">
  <p>The Planning Center API secret was not found. Please enter it here.</p>
  <mat-form-field class="full-width code">
    <mat-label>Secret</mat-label
    ><input
      [attr.disabled]="true"
      maxlength="64"
      [formControl]="secretFormControl"
      [errorStateMatcher]="matcher"
      matInput
      spellcheck="false"
      [(ngModel)]="secret"
    />
    <mat-error *ngIf="secretFormControl.errors">
      {{ secretFormControl.errors["error"] }}
    </mat-error>
  </mat-form-field>
  <div *ngIf="!secretFormControl.errors">
    <span
      class="status-container"
      *ngIf="
        authenticationState === SecretAuthenticationState.InProgress;
        else elseBlock
      "
    >
      <mat-spinner [diameter]="24" />
      Verifying secret with Planning Center servers...
    </span>
    <ng-template #elseBlock
      ><span
        class="{{
          authenticationState === SecretAuthenticationState.Authenticated
            ? 'success'
            : 'error'
        }}-message status-container"
      >
        <mat-icon
          fontIcon="{{
            authenticationState === SecretAuthenticationState.Authenticated
              ? 'check_circle'
              : 'cancel'
          }}-filled"
        />
        {{
          authenticationState === SecretAuthenticationState.Error
            ? "An unknown error occurred"
            : authenticationState === SecretAuthenticationState.Authenticated
            ? "Secret accepted by Planning Center"
            : "Secret rejected by Planning Center"
        }}</span
      >
    </ng-template>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button
    mat-flat-button
    (click)="onSave()"
    disabled="{{
      authenticationState !== SecretAuthenticationState.Authenticated
    }}"
  >
    Save
  </button>
</mat-dialog-actions>
