<h2 mat-dialog-title>Secret Required</h2>
<mat-dialog-content class="mat-typography">
  <p>The Planning Center API secret was not found. Please enter it here.</p>
  <mat-form-field class="full-width code">
    <mat-label>Secret</mat-label
    ><input
      maxlength="64"
      [formControl]="secretFormControl"
      [errorStateMatcher]="matcher"
      matInput
      spellcheck="false"
    />
    <mat-error *ngIf="secretFormControl.errors">
      {{ secretFormControl.errors["error"] }}
    </mat-error>
  </mat-form-field>
  <div *ngIf="secretFormControl.valid">
    <span
      class="{{
        authenticationState === SecretAuthenticationState.Authenticated
          ? 'success'
          : 'error'
      }}-message"
    >
      <mat-icon
        fontIcon="{{
          authenticationState === SecretAuthenticationState.Authenticated
            ? 'check_circle'
            : 'cancel'
        }}-filled"
      />
      Secret
      {{
        authenticationState === SecretAuthenticationState.Authenticated
          ? "accepted"
          : "rejected"
      }}
      by Planning Center
    </span>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button
    mat-flat-button
    type="submit"
    disabled="{{
      authenticationState !== SecretAuthenticationState.Authenticated
    }}"
  >
    Save
  </button>
</mat-dialog-actions>
